.ui-button
  cursor pointer
  display inline-flex
  align-items center
  white-space nowrap
  justify-content center
  box-sizing border-box
  -webkit-app-region no-drag

  /**
   * Small size button
   */
  buttonSmallSize()
    height 28px
    line-height 24px
    font-size 13px
    font-weight 500
    padding 0 12px
    border-radius 6px

  /**
   * Medium size button
   */
  buttonMediumSize()
    height 32px
    line-height 32px
    font-size 14px
    font-weight 500
    padding 0 12px
    border-radius 6px

  /**
   * Large size button
   */
  buttonLargeSize()
    height 36px
    line-height 36px
    font-size 14px
    font-weight 500
    padding 0 12px
    border-radius 6px

  /**
   * XLarge size button
   */
  buttonXLargeSize()
    height 48px
    line-height 48px
    font-size 18px
    font-weight 500
    padding 0 38px
    border-radius 6px

  /**
   * Button with solid background
   */
  buttonSolid($bg-color, $text-color)
    background $bg-color
    color $text-color

  /**
   * Button with borders
   */
  buttonBorder($bg-color, $text-color, $border-color)
    background $bg-color
    color $text-color
    border 1px solid $border-color
    box-sizing border-box

  /**
   * Button with icon and caption
   */
  buttonWithIconAndCaption()
    &^[0]--small
      padding-left 4px

    &^[0]--medium
      padding-left 8px

    &^[0]--large
      padding-left 12px

    ^[0]__icon
      margin-right 12px

  /**
   * Square button with icon only
   */
  buttonSquareIcon($bg-color)
    padding 0
    align-items center
    justify-content center
    flex-direction column
    background $bg-color

    &^[0]--small
      width 28px
      height 24px
      border-radius 4px

      &^[0]--square
        height 28px

    &^[0]--medium
      width 32px
      height 28px
      border-radius 6px

      &^[0]--square
        height 32px

    &^[0]--large
      width 60px
      height 56px
      border-radius 15px

      &^[0]--square
        height 60px



  /**
   * Button with 100% width
   */
  buttonWideStyle()
    width 100%

    ^[0]__caption
      margin-right auto
      margin-left auto

    ^[0]__icon
      margin 0

  /**
   * Disabled state
   */
  buttonDisabledState()
    pointer-events none
    opacity 0.5

  /**
   * Loading state
   */
  buttonLoadingState()
    $color-light = rgba(255, 255, 255, 0.1);
    $color-dark = rgba(0, 0, 0, 0.03);

    pointer-events: none;
    background-size: 56px 56px;
    animation: loading 0.5s infinite linear;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, $color-dark 10px, $color-dark 20px);

    &^[0]--1
    &^[0]--7
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, $color-light 10px, $color-light 20px);

    @keyframes loading {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -56px 0;
      }
    }

  /**
   * Default hover state
   */
  buttonDefaultHoverState()
    &:hover
      opacity 0.9

  /**
   * Active state
   * used for all buttons
   */
  buttonActiveState()
    //transform translateY(1px)

  /**
  * Button size classes
  */
  &--small
    buttonSmallSize()

  &--medium
    buttonMediumSize()

  &--large
    buttonLargeSize()

  &--xlarge
    buttonXLargeSize()

  /**
   * Button type classes
   */
  &--1
    buttonSolid(var(--UI-active), var(--Text-white))

    &:hover
      background var(--UI-active-hover)

    &:active
      background var(--UI-active-active)

  &--2
    buttonSolid(var(--Background-darkgrey), var(--Text-secondary))

    &:hover
      background var(--Background-darkgrey-hover)

    &:active
      background var(--Background-darkgrey-active)

  &--3
    buttonBorder(var(--Background-darkgrey), var(--Text-primary), var(--UI-divider-2))
    buttonDefaultHoverState()

  &--4
    buttonSolid(var(--UI-error-secondary), var(--UI-error))
    buttonDefaultHoverState()

  &--5
    buttonSolid(var(--UI-positive-secondary), var(--UI-positive))
    buttonDefaultHoverState()

  // !type 6 is deprecated

  &--7
    buttonSquareIcon(transparent)

    &:hover
      background var(--Background-darkgrey)

    &:active
      background var(--Background-darkgrey-active)

  &--8
    color var(--Text-white)
    buttonDefaultHoverState()

  &--9
    color var(--UI-active)
    padding 0
    buttonDefaultHoverState()

    & ^[0]__icon-bg
      display flex
      width 24px
      height 24px
      background var(--Button-social)
      border-radius 100%
      align-items center
      justify-content center
      margin-right 8px

    &^[0]--large
      font-size 16px

  &--10
    color var(--Text-primary)
    stroke var(--Text-primary)
    padding 0

    & ^[0]__icon
      margin-right 8px

    buttonDefaultHoverState()

  &--11
    color var(--Text-primary)
    justify-content flex-start
    padding 0 8px
    border-radius 6px

    svg
      color var(--UI-active)
      width 18px
      height 18px

    & ^[0]__icon
      margin-right 8px

    & ^[0]__caption
      margin-left 0
      margin-right auto

    &:hover
      background var(--Background-darkgrey-hover)
      color var(--Text-primary-hover)
    &:active
      background var(--Background-darkgrey-active)
      color var(--Text-primary-active)

  &--12
    buttonSolid(var(--UI-error), var(--Text-white))

    &:hover
      background var(--UI-error-hover)

    &:active
      background var(--UI-error-active)

  &--13
    border-radius 100px
    font-size 12px
    padding-left 22px
    padding-right 8px
    color var(--Text-white)
    buttonDefaultHoverState()

    &:before
      content ''
      display block
      width 8px
      height 8px
      border 1px solid
      margin-left - 14px
      margin-right 6px
      border-radius 100%
      box-sizing border-box

    &^[0]--active
      background var(--Background-darkgrey)
      color var(--Text-white)

      &:hover
         background var(--Background-darkgrey-hover)
      &:active
         background var(--Background-darkgrey-active)

      &:before
        background var(--UI-active)
        border none

  &--14
    color var(--UI-active)
    stroke var(--UI-active)
    padding 0

  &--15
    font-size 14px
    line-height 16px
    height 24px
    padding 4px 12px
    color var(--Text-secondary)
    border-radius 4px

    &^[0]--active
      background var(--Background-black) !important
      color var(--Text-primary) !important
      pointer-events none
      box-shadow var(--new-shadow-01)

    &:hover:not(.ui-button--active)
      color var(--Text-primary) !important

  &--16
    buttonSquareIcon(transparent)
    background var(--Background-darkgrey)

    &:hover
      background var(--Background-darkgrey-hover)
    &:active
      background var(--Background-darkgrey-active)

  &--17
    buttonBorder(var(--Background-darkgrey), var(--Text-primary), var(--UI-divider-2))
    box-shadow var(--new-button-shadow-01)
    buttonDefaultHoverState()

    &:hover
      box-shadow var(--new-button-shadow-02)

    &:active
      box-shadow var(--new-button-shadow-03)

  &--icon&--caption&--wide
    buttonWithIconAndCaption()

  &--wide
    buttonWideStyle()

  &--loading
    buttonLoadingState()

  &--disabled
    buttonDisabledState()

  &:active
    buttonActiveState()

  &--header
    color var(--Text-secondary)

    &:hover
      background var(--Background-grey)

    &:active
      background var(--Background-black)

  &--popover
    background var(--Background-darkgrey)
    color var(--Text-white)

    &:hover
      background var(--Background-darkgrey-hover)
    &:active
      background var(--Background-darkgrey-active)

  &--active
    background var(--UI-active)
    color var(--Text-white)

    &:hover
      background var(--UI-active-hover)

    &:active
      background var(--UI-active-active)
